<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li class="selected"><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/contacto">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="descripcionSeguros">
    <div class="titulo2">
        <h3>Seguro de Vida a Término </h3>
    </div>

    <div class="cuerpo">
        <p>El seguro de vida a término ofrece protección por un período de tiempo determinado. A este período se le
            llama un término. El término puede ser de un año, o de cinco a 30 años o más. Usted elige la duración del
            término. Las pólizas de seguro de vida a término pagan a sus beneficiarios una suma total, llamada beneficio
            por causa de muerte (death benefit, por su nombre en inglés), si usted fallece durante el término de la
            póliza. La póliza termina al final del término, a menos que usted pague para extenderla.</p>
        <br>
        <p>Las pólizas a término no están hechas para proporcionar cobertura para toda su vida. La mayoría de las
            personas que compran pólizas de seguro de vida a término desean la cobertura por solamente un tiempo, tal
            como cuando están empezando una familia o cuando tienen hijos en la universidad.</p>
        <br>

        <img src="assets/img/terminoDibujo.jpg" alt="">
        <br>


        <p>Las primas de seguro se mantendrán iguales durante todo el término. Se incrementarán si usted las renueva al
            final del término. Esto se debe a que su nueva prima de seguro se basará en su edad cuando realice la
            renovación, no en la edad que usted tenía cuando compró la póliza originalmente. Para ayudar a evitar primas
            de seguro más altas en el futuro, considere comprar una póliza con un término más largo.</p>
        <br>
        <p>La mayoría de las compañías ofrecen seguros de vida a término solamente hasta cierta edad, generalmente hasta
            los 70 u 80 años.</p>
       



    </div>


</div>


<div class="footer">
    <div class="primeraParte">
        <div class="social">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            <p>3424 Midcourt Rd, Suite 122
                Carrollton, TX 75006</p>
        </div>
        <div class="social">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p>USA: (833) 968-5433</p>
        </div>
    </div>
    <div class="segundaParte">
        <p>
            ¡Siéntete seguro en todo momento!</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>