<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li><a routerLink="/Seguros">Seguros</a></li>
                    <li  class="selected"><a routerLink="/Cotizar">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="home">
    <div class="textos">
        <h2>¡Cotiza con Nosotros!</h2>
    </div>
    <div class="imagen2">
        <img src="assets/img/cotizar.jpg" alt="">
    </div>

</div>

<div class="cuadros">
    <div class="cuadro3 segundo ">
        <h2>¡Nos comunicaremos contigo!</h2>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Telefono">
        <input type="text" placeholder="Email">
        <textarea placeholder="Mensaje" name="" id="" cols="30" rows="10"></textarea>
        <select name="select">
            <option value="" selected>Seleccionar Servicio</option>
            <option value="vida">Seguro de Vida</option>
            <option value="salud" >Seguro de Salud</option>
            <option value="termino">Seguro de Vida a Termino</option>
            <option value="obamacare" >ObamaCare</option>
            <option value="indexado">Seguro de Vida a Indexado</option>
            <option value="funerario">Prearreglo Funerario</option>
        </select>

        <select name="select">
            <option value="" selected>Preferencia de contacto</option>
            <option value="Telefono">Telefono</option>
            <option value="Whatsapp" >Whatsapp</option>
            <option value="Correo">Correo</option>
        </select>

        
    </div>

</div>

<div class="footer">
    <div class="primeraParte">
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li class="selected"><a routerLink="/AboutUs">Sobre Nosotros</a></li>
            <li><a routerLink="/Seguros">Seguros</a></li>
            <li><a routerLink="/Cotizar">Cotizar</a></li>
            <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
            <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
        </ul>
    </div>
    <div class="segundaParte">
        <p>
           Todos los derechos reservados</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>