<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li class="selected"><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/contacto">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="descripcionSeguros">
    <div class="titulo4">
        <h3>Seguro de Vida Indexado </h3>
    </div>

    <div class="cuerpo">
        <p>El seguro de Vida universal indexado es un tipo de póliza en donde se brinda protección permanente del seguro
            de vida. Con una acumulación de valor en efectivo y crecimiento, a través de cuentas fijas e indexadas.</p>
        <br>
        <p>A medida que se hace el pago de las primas, el dinero se destina tanto al beneficio por fallecimiento, como a
            un componente en efectivo que crece con el tiempo y en lugar de aumentar en una tasa fija. El aumento del
            componente de efectivo se basa en la fortaleza de los índices bursátiles (S&P 500 o Barclays).</p>
        <br>

        <img src="assets/img/indexadoDibujo.jpg" alt="">
        <br>

        <h3>
            Beneficios de un seguro de vida indexado </h3>


        <p>
            <b>Seguro de vida</b>

            Uno de los beneficios de un seguro de vida universal indexado es el de la protección a los beneficiarios en
            caso de fallecer el asegurado. Esto a través de una protección financiera permanente, El mismo es ajustable,
            en caso de que se requiera hacer modificaciones al pasar el tiempo.
        </p>
        <br>
        <p><b>Protección del riesgo de mercado</b>

            Uno de las desventajas de los fondos mutuos, es la incertidumbre, ya que cuando el mercado falla, el dinero
            invertido puede verse seriamente afectado. Sobre todo, en el momento que se vaya a disponer durante la
            jubilación.</p>
        <br>
        <p>
            Con un seguro de vida universal indexado, la inversión no sufre ningún tipo de riesgo, ya que esta no está
            invertida directamente en la bolsa de valores.
        </p>
        <br>
        <p>
            <b> Acumulación de efectivo</b>

            El valor de efectivo de tu inversión está libre de impuestos, el dinero acumulado puede ser usado para
            cancelar las primas del seguro.
        </p>
        <br>
        <p>
            Esto beneficia en gran manera al asegurado ya que puede dejar de usar dinero de su bolsillo para mantener
            los gastos de la póliza.

            01.
        </p>
        <br>
        <img src="assets/img/indexadoDibujo2.jpg" alt="">




    </div>


</div>

<div class="footer">
    <div class="primeraParte">
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li class="selected"><a routerLink="/AboutUs">Sobre Nosotros</a></li>
            <li><a routerLink="/Seguros">Seguros</a></li>
            <li><a routerLink="/Cotizar">Cotizar</a></li>
            <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
            <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
        </ul>
    </div>
    <div class="segundaParte">
        <p>
           Todos los derechos reservados</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>