<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li class="selected"><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/contacto">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="descripcionSeguros">
    <div class="titulo1">
        <h3>Beneficios en vida</h3>
    </div>

    <div class="cuerpo">
        <p>En primer término, lo primero que debemos aclarar es lo siguiente: si su seguro de vida no cuenta con
            beneficios en vida, sencillamente usted NO tiene un seguro de vida, sino un seguro de muerte.</p>
        <br>
        <p>El objetivo del presente artículo es explicar la importancia de tener un seguro de vida con beneficios en
            vida.</p>
        <br>
        <p>Ahora bien, debemos comenzar diciendo que los beneficios de vida son una forma útil de adelantar en vida
            parte de su beneficio de muerte, siempre y cuando ocurran ciertos eventos o circunstancias que califiquen
            como enfermedad terminal, crónica o crítica. Muchas compañías de seguros de vida ofrecen beneficios de vida
            automáticamente en sus pólizas o como cláusula adicional. Si bien los beneficios de vida son una excelente
            opción, desea elegir cuidadosamente un seguro de vida con beneficios de vida. El plan tiene que satisfacer
            sus necesidades, tanto a corto como a largo plazo.</p>
        <img src="assets/img/beneficiosDibujo.jpg" alt="">
        <br>

        <h3>
            ¿Qué es el seguro de vida con beneficios de vida? </h3>

        <p>Probablemente sepa que el seguro de vida tiene un beneficio por muerte. El beneficio por fallecimiento es la
            cantidad de dinero que su beneficiario recibirá (libres de impuestos) al momento de su fallecimiento.</p>
        <br>
        <p>Hoy en día, sin embargo, muchas compañías de seguros de vida ofrecen beneficios de vida en sus planes o como
            cláusula adicional. Es importante comprender cómo funcionan estos beneficios de vida en comparación con
            otras alternativas.</p>
        <br>
        <p>Antes de entrar en todo eso, analicemos cuáles son realmente los beneficios de vida.</p>

        <img src="assets/img/beneficiosDibujo2.jpg" alt="">
        <br>

        <h3>¿Qué son los beneficios en vida?</h3>
        <p>La vida está llena de interrupciones, situaciones imprevistas y desafortunadas. Los beneficios de vida pueden
            ayudar con algunas de estas interrupciones. </p>
        <br>
        <p>El término “beneficios de vida” simplemente significa utilizar el beneficio de muerte antes de la muerte. Es
            decir, la persona lo usa mientras está vivo. Hay tres áreas comunes en las que la compañía de seguros de
            vida le permite utilizar el beneficio por fallecimiento antes del fallecimiento:</p>
        <br>
        <p>1) Enfermedades crónicas,

            2) Enfermedades criticas (como cáncer y ataques cardíacos),

            3) Enfermedad terminal</p>
        <br>
        <p>El tercero de los puntos anteriores (enfermedad terminal), ha estado disponible durante algún tiempo en las
            pólizas de vida ofrecidas por la mayoría de las empresas. Las otras dos áreas son relativamente nuevas para
            los consumidores, aunque muchos operadores de seguros de vida ahora incluyen estas opciones en sus
            políticas, ya sea de forma automática o mediante una cláusula adicional.</p>
        <br>
        <p>Por ejemplo, si le diagnosticaron cáncer, ¿no le gustaría recibir dinero para ayudarlo durante su
            tratamiento? </p>
        <br>
        <p>La respuesta resulta obvia, ya que precisamente esa es la función de los beneficios en vida. Es decir,
            adelantar dinero para que usted pueda cubrir sus responsabilidades financieras, tales como: pagar facturas
            médicas no reconocidas o cubiertas por su seguro de salud, pagar la hipoteca de su casa, estudios
            universitarios, cuidado de niños, etc.</p>
        <br>
        <p>El monto del beneficio por muerte es de donde proviene el avance o adelanto de dinero que recibirá el
            asegurado por concepto de beneficios en vida. Es importante tener presente que cada empresa analiza su
            situación de manera un poco diferente. Analizarán la gravedad de la condición médica y le harán una oferta,
            de acuerdo con los términos y disposiciones de la póliza. Ese adelanto está exento de impuestos sobre la
            renta a medida que es avanzado el beneficio por muerte antes de tiempo. Es importante tener en cuenta que no
            tiene que aceptar la oferta del operador y dejar que su beneficio de seguro de vida permanezca intacto.</p>



    </div>


</div>


<div class="footer">
    <div class="primeraParte">
        <div class="social">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            <p>3424 Midcourt Rd, Suite 122
                Carrollton, TX 75006</p>
        </div>
        <div class="social">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p>USA: (833) 968-5433</p>
        </div>
    </div>
    <div class="segundaParte">
        <p>
            ¡Siéntete seguro en todo momento!</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>