<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
                <img src="assets/img/logo.png" alt="">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li class="selected"><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/Cotizar">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="home">
    <div class="textos">
        <h2>Soy Guadalupe Pitalua</h2>
        <p>Creo en la felicidad como el camino, en la riqueza como nuestro derecho divino y en el amor como la fuerza
            más
            poderosa. Mi propósito es recordarte cómo vivir en abundancia y cumplir tus sueños. Soy empresaria</p>
    </div>
    <div class="imagen">
        <img src="assets/img/pitalua4.png" alt="">
    </div>

</div>

<div class="historia">
    <div class="texto">

        <div class="titulo">
            <h2>Mi Historia</h2>
        </div>

        <p>Migré a Estados Unidos a los 19 años, comenzando a trabajar desde muy joven, dispuesta a siempre a realizar
            arduos trabajos y con bajos salarios, pero con mucha dignidad. </p>
        <br>
        <p>Durante mi trayectoria laboral, por diferentes motivos, he tenido que comenzar varias veces desde cero. Los
            valores que mis padres sembraron en mi desde pequeña, fueron mis principales motivadores que me dieron la
            fortaleza para levantarme de nuevo y buscar nuevas oportunidades.</p>
        <br>
        <p>Un día, me di cuenta, que el trabajarle a alguien más, nunca me iba a sacar del mismo círculo y nunca me iba
            a poder dedicar a lo más importante: mis sueños y mi familia.</p>
        <br>
        <p>
            Tuve un despertar, y decidí trabajar para mí misma y ser mi propia jefa, gozar de libertad de tiempo,
            disfrutar de mi familia, y gozar de mi independencia financiera me siento satisfecha cumpliendo mis sueños y
            no los de alguien más.
        </p>
        <br>
        <p>
            Actualmente me encanta orientar a otros, sobre cómo alcanzar sus sueños y su independencia financiera, y me
            gustaría poder compartir con tigo, cuales son las estrategias más oportunas y que a mí me han dado rápidos
            resultados, para alcanzar mis sueños.
        </p>
    </div>
</div>

<div class="parte1">

    <div class="texto">
        <h2>Confia en la experiencia de mis agentes para ayudarte y asesorarte en todo lo que necesites</h2>
        <p>Hoy en día contar con el respaldo de un Seguro es primordial para nuestra tranquilidad. Debido a que en
            Estados Unidos una emergencia de Salud o de Vida pueden representar miles de dólares.
        </p>
    </div>

    <div class="imagenes">
        <img src="assets/img/agente.jpg" alt="">
        <img class="masgrande" src="assets/img/agente2.jpg" alt="">
    </div>



</div>

<div class="prioridad">
    <h2>¡Tu seguridad es mi prioridad!</h2>
    <div class="botones">
        <div class="divBoton">
            <div class="boton">
                <p>SEGURO DE VIDA</p>
            </div>
        </div>
        <div class="divBoton">
            <div class="boton">
                <p>SEGURO DE SALUD</p>
            </div>
        </div>
    </div>
</div>

<div class="parte2">

    <div class="texto">
        <h2>Un seguro de vida o salud siempre es necesario para la tranquilidad tanto personal como la de tus seres
            queridos</h2>
    </div>

    <div class="imagenes">
        <img src="assets/img/personal.jpg" alt="">
        <img class="masgrande" src="assets/img/personal2.jpg" alt="">
        <img src="assets/img/personal3.jpg" alt="">
    </div>



</div>

<div class="cuadros">
    <div class="cuadro ">

    </div>
    <div class="cuadro2 segundo ">
        <h2>¡Me comunicare contigo!</h2>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Telefono">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Email">
        <select name="select">
            <option value="value1">Value 1</option>
            <option value="value2" selected>Tipo de Seguro</option>
            <option value="value3">Value 3</option>
        </select>

        <select name="select">
            <option value="value1">Value 1</option>
            <option value="value2" selected>Preferencia de Contacto</option>
            <option value="value3">Value 3</option>
        </select>
    </div>

</div>


<div class="footer">
    <div class="primeraParte">
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li class="selected"><a routerLink="/AboutUs">Sobre Nosotros</a></li>
            <li><a routerLink="/Seguros">Seguros</a></li>
            <li><a routerLink="/Cotizar">Cotizar</a></li>
            <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
            <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
        </ul>
    </div>
    <div class="segundaParte">
        <p>
           Todos los derechos reservados</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>