<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li class="selected"><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/contacto">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="descripcionSeguros">
    <div class="titulo3">
        <h3>Seguro de Vida Permanente </h3>
    </div>

    <div class="cuerpo">
        <p>Una porción de cada prima de seguro se aplica en una cuenta, conocida como el valor en efectivo (cash value,
            por su nombre en inglés). El valor en efectivo aumenta a una tasa de interés fija o variable. Algunas
            pólizas ligan el crecimiento a los índices, tal como el S&P 500 o las subcuentas que usted elija. Las
            subcuentas se invierten en acciones, bonos o ambos. Su valor en efectivo podría subir o bajar, según el
            rendimiento de sus subcuentas.</p>
        <br>
        <p>Podría tomar varios años para que una póliza acumule un valor en efectivo. Usted podría tener que pagar un
            cobro de rescate (surrender fee, por su nombre en inglés), si retira el dinero antes de tiempo. Y si usted
            retira más dinero del que pagó en primas de seguro, probablemente tendrá que pagar impuestos sobre este
            dinero. Si retira el valor en efectivo completo, la compañía podría cancelar su póliza. Si esto sucede, la
            cobertura finalizará y podría afectar sus impuestos.</p>
        <br>

        <img src="assets/img/permanenteDibujo.jpg" alt="">
        <br>


        <p>Las primas de seguro de vida permanente son más altas que las primas de seguro de vida a término. Eso se debe
            a las características de ahorro y porque usted está comprando una cobertura por un período más largo.</p>
        <br>
        <p>Pero si usted compra una póliza de seguro de vida permanente a una edad joven y la mantiene, lo más probable
            es que su prima de seguro sea más barata que una prima de seguro de vida a término que usted compra cuando
            es de mediana edad o más. Esto se debe a que las primas de seguro se basan en su edad cuando usted compra la
            póliza.</p>

            <img src="assets/img/permanenteDibujo2.jpg" alt="">




    </div>


</div>


<div class="footer">
    <div class="primeraParte">
        <div class="social">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            <p>3424 Midcourt Rd, Suite 122
                Carrollton, TX 75006</p>
        </div>
        <div class="social">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p>USA: (833) 968-5433</p>
        </div>
    </div>
    <div class="segundaParte">
        <p>
            ¡Siéntete seguro en todo momento!</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>