<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li class="selected"><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/contacto">Cotizar</a></li>
                    <li><a routerLink="/registro">Encuentra un Agente</a></li>
                    <li><a routerLink="/">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="cuadros2">
    <div class="cuadro4 ">
        <div class="title">
            <p>

                Somos una empresa comprometida con la estabilidad y tranquilidad de las diversas comunidades que radican
                en USA.

            </p>
            <br>
            <p>
                Contamos con asesores altamente capacitados en Seguros que se encargan de rectificar las necesidades de
                nuestros clientes.

                ​
            </p>
            <br>
            <p>
                Nos apasiona la tranquilidad que brindamos a nuestros clientes por medio de nuestros servicios de
                asesoramiento y planeación estratégica.
            </p>
            <br>
        </div>
        <div class="botones">
            <div class="divBoton">
                <div class="boton">
                    <p>ENCUENTRA UN AGENTE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cuadro1 ">

    </div>
</div>

<div class="testimonioCliente">
    <div class="estrellas">
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
    </div>
    <h2>“Tomamos una decisión importante"</h2>
    <p>Entre tantas opciones que hay en el mercado, valoré y agradezco mucho el tiempo que se tomaron en explicarnos
        nuestras dudas. Definitivamente tomamos una decision muy importante y nuestra tranquilidad se ve reflejada con
        ello.</p>
    <img src="" alt="">
    <h3>Rogelio Cantú</h3>
</div>


<div class="footer">
    <div class="primeraParte">
        <div class="social">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            <p>3424 Midcourt Rd, Suite 122
                Carrollton, TX 75006</p>
        </div>
        <div class="social">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p>USA: (833) 968-5433</p>
        </div>
    </div>
    <div class="segundaParte">
        <p>
            ¡Siéntete seguro en todo momento!</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>