<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
                <img src="assets/img/logo.png" alt="">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li  class="selected"><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/Cotizar">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="home">
    <div class="textos">
        <h2>¡Soy una persona comprometida!</h2>
        <p> con la estabilidad y tranquilidad de las diversas comunidades que radican
            en USA.</p>
        <br>
        <p>Cuento con asesores altamente capacitados en Seguros que se encargan de rectificar las necesidades de
            nuestros clientes.
        </p>
        <br>
        <p> Me apasiona la tranquilidad que brindo a mis clientes por medio de mis servicios de
            asesoramiento y planeación estratégica.</p>
    </div>
    <div class="imagen2">
        <img src="assets/img/pitalua3.png" alt="">
    </div>

</div>



<div class="testimonioCliente">
    <div class="estrellas">
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
    </div>
    <h2>“Tomamos una decisión importante"</h2>
    <p>Entre tantas opciones que hay en el mercado, valoré y agradezco mucho el tiempo que se tomo en explicarnos
        nuestras dudas. Definitivamente tomamos una decision muy importante y nuestra tranquilidad se ve reflejada con
        ello.</p>
    <img src="" alt="">
    <h3>Rogelio Cantú</h3>
</div>

<div class="footer">
    <div class="primeraParte">
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li class="selected"><a routerLink="/AboutUs">Sobre Nosotros</a></li>
            <li><a routerLink="/Seguros">Seguros</a></li>
            <li><a routerLink="/Cotizar">Cotizar</a></li>
            <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
            <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
        </ul>
    </div>
    <div class="segundaParte">
        <p>
           Todos los derechos reservados</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>