*{
    font-family: 'Amaranth', sans-serif;
    font-family: 'Baloo Tamma 2', cursive;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.todo{
    height: 550px;
}


.navbar{
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
    .izquierda-derecha{
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
        padding: 1% 3%;
        .izquierda{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            width: 30%;

            .divLogo{
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;

                img{
                    width: 18%;
                    margin-left: 20%;
                }  
            }
             
        } 
        
        .derecha{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            width: 80%;
            margin-right: 2%;
           

            #menu{
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;

                
                ul{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;
                    padding: 0; 
                    
               
                    
                    li{
                        text-decoration: none;
                        list-style: none;
                        margin-left: .5%;
                        margin-right: .5%;
                        padding: 1%;
                        cursor: pointer;

                        a{
                            font-size: 15px;
                            font-weight: 600;
                            text-decoration: none;
                            color: gray;

                        }

                        &.selected,&:hover{
                           border-bottom: 2px solid #DA7777;
                            a{
                                color: #DA7777;
                            }
                           
                        }

                    }
                }
            }
             
        } 
     
    }


     .primero #menu{
   margin-left: 2%;
}

.primero  #menu ul{
    position:fixed;
    list-style: none;
    width: 100%;
    height: 25%;
    background-color: #38b1dc;
    top: 100px;
    left: -100%;
    z-index: 1;
    transition: all .5s ease;
    
}

.primero  #menu li{
    display: block;
}

.primero #menu li a{
    color: white;
    margin-bottom: 5%;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  
}


 .primero .social1{
    display: none;
}
.primero .social2{
    display: none;
}

.checkbtn{
   font-size: 30px;
   color: #38b1dc;
   display: none;
}

#check{
   display: none;
}
#check:checked ~ ul{
   left: 0;
}
    
}

.home{
   background-color: white;
 //background: linear-gradient(#FEE5C3, #FFF2E1);
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 height:800px ;
 .textos{
     border-left: 4px solid #DA7777;
     width: 30%;
     padding-left: 2%;
     margin-bottom: 2%;
     h2{
         color: #DA7777;
        font-size: 45px;
     }  

     p{
         color: gray;
         text-align: justify;
     }
 }

 .imagen2{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
        width: 90%;
    }
    
 }
}

.historia{
    background-image: url(assets/img/historia2.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 5%;

    .titulo{
        border-left: 4px solid #DA7777;
        h2{
            color: #DA7777;
            margin-left: 2%;
            margin-bottom: 5%;
        }
    }

    .texto{
        width: 30%;
        padding: 2%;
        background-color: white;
        border-radius: 10px;
        color: gray;
    }

}

.parte1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    padding: 10% 0%;
    .texto{
        width: 40%;
        margin-left: -10%;

        h2{
            width: 70%;
            color: #DA7777;
            border-left: 4px solid #DA7777;
            padding-left: 2%;
        }
        p{
            width: 70%;
            text-align: justify;
            color: gray;
            padding-left: 2%;
        }
    }
    .imagenes{
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width: 70%;
            margin-left: 4%;

        &.masgrande{
            width: 80%;
        }    
        }
    }
}
.prioridad{
    height: auto;
    background-color: #DA7777;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;

    h2{
        width: 50%;
        font-size: 50px;
        color: white;
        margin-top: 2%;
    }
    .botones{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .divBoton{
            width: 50%;
            height: 70%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .boton{
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                padding: 3% 3%;
                border-radius: 5px;
                cursor: pointer;
                transition: ease all 0.5s; 
                p{
                    font-size: 18px;
                    font-weight: 600;
                    color: white;
  
    
                }  
            }
            :hover{
                background-color: white;
                transition: ease all 0.5s; 
    
                p{
                   color: #DA7777;
                }
            } 
        }
    }
}

.parte2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 5% 0%;
    .texto{
        width: 50%;

        h2{
            font-size: 35px;
            text-align: center;
            color: gray;
        }
    }
    .imagenes{
        width: 100%;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
            width: 20%;
            margin-left: 4%;

        &.masgrande{
            width: 25%;
        }    
        }
    }
}

.form{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .datos{
        width: 40%;
        display: flex;
        flex-direction: column;
        input,select{
            border-radius: 5px;
            height: 40px;
            width: 50%;
            margin-top: 2%;
            outline: none;
            border: 1px solid #DA7777;
            padding: 1% 5%;
        }
    }
}

.cuadros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

.cuadro{
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url("assets/img/pitalua.jpeg");
    background-repeat: repeat;
    background-size: cover;

      
}  



.cuadro2,.cuadro3{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #DA7777;
    padding: 5%;

    h2{
        color: white;
        text-align: left;
        margin-bottom: 10%;
        font-size: 30px;
    }
    input,select,textarea{
        height: 40px;
        width: 50%;
        margin-top: 2%;
        outline: none;
        border: none;
        border: 2px solid #DA7777;
        padding: 1% 5%;
        border-radius: 5px;
    }

    select{
        height: 55px;
        width: 60%;
    }
    textarea{
        height: 200px;
        width: 20%;
    }
}  

.cuadro3{
    width: 100%;
    h2{
        margin-bottom: 2%;
       
    }
    input,select{
        width: 20%;
    }

    select{
        height: 65px;
        width: 31%;
    }
}

}

.seguros{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: auto;

    .vida,.salud{
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    .titulo{
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3{
            color: white;
        }
    }

    .cuerpo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;

        h3{
            text-align: center;
            color: #DA7777;
            font-size: 25px;
            margin-bottom: 2%;
        }

        p{
            text-align: center;
            color: gray;
        }

        img{
            width: 70%;
        }

        
    }
    }

    .vida{
        .titulo{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/brazos.jpg);
            background-size: cover;
           
        }

        .cuadros{
            display: flex;
            flex-direction: column;
            margin-top: 5%;

            .cuadroIzquierda,.cuadroDerecha{
                width: 80%;
                background-color: #DA7777;
                padding: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 5%;
                h4{
                   color: white;
                   font-size: 25px;
                }
                p{
                    color: white;
                }

                .divBoton{
                    width: 30%;
                    height: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .boton{
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid white;
                        margin-top: 4%;
                        padding: 3% 3%;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: ease all 0.5s; 
                        p{
                            font-weight: 600;
                            color: white;
          
            
                        }  
                    }
                    :hover{
                        background-color: white;
                        transition: ease all 0.5s; 
            
                        p{
                           color: #DA7777;
                        }
                    } 
                }

                &.cuadro1{
                    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/vida.jpg);
                    background-size: cover;
                }
                &.cuadro2{
                    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/calendario.jpg);
                    background-size: cover;
                }
                &.cuadro3{
                    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/obamacare.jpg);
                    background-size: cover;
                }
                &.cuadro4{
                    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/index.jpg);
                    background-size: cover;
                    
                }

                &.cuadro5{
                    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/cielo.jpg);
                    background-size: cover;
                    
                }
            }

            .cuadroDerecha{
                align-self: flex-end;
            }
        }
    }

    .salud{
        .titulo{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/corazon.jpg);
            background-size: cover;
            background-position: center;
        }

        .seguro1,.seguro2,.seguro3,.seguro4{
            margin-top: 5%;
            width: 100%;
            height: 180px;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4{
                font-size: 25px;
                color: white;
            }
        }

        .seguro1{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/seguroVida.jpg);
        }

        .seguro2{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/planDescuento.jpg);
        }

        .seguro3{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/visionDental.jpg);
        }

        .seguro4{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/medicamentos.jpg);
        }

        .textos{
            width: 60%;
            text-align: justify;
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .divBoton{
                width: 30%;
                height: 40%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .boton{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #DA7777;
                    margin-top: 10%;
                    padding: 3% 3%;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: ease all 0.5s; 
                    p{
                        font-weight: 600;
                        color: white;
      
        
                    }  
                }
                :hover{
                    background-color: white;
                    transition: ease all 0.5s; 
        
                    p{
                       color: #DA7777;
                    }
                } 
            }
        }

      
    }
}

.descripcionSeguros{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 5%;

    .titulo1,.titulo2,.titulo3,.titulo4,.titulo5{
        width: 35%;
        height: 300px;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;

        h3{
            color: white;
            font-size: 35px;
        }
    }

    .titulo1{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/beneficios.jpg);
        background-size: cover;
        background-position: center;
    }

    .titulo2{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/calendario.jpg);
        background-size: cover;
        background-position: center;
    }

    .titulo3{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/obamacare.jpg);
        background-size: cover;
        background-position: center;
    }

    .titulo4{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/index.jpg);
        background-size: cover;
        background-position: center;
    }

    .titulo5{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(assets/img/cielo.jpg);
        background-size: cover;
        background-position: center;
    }

    .cuerpo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5% 0%;
        width: 40%;

        h3{
            margin: 5% 0%;
            font-size: 25px;
            color: #DA7777;
        }

        p{
            text-align: justify;
            color: gray;
        }

        img{
            width: 90%;
        }
    }
}

.testimonioCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DA7777;
    padding: 10%;

    h2{
        font-size: 40px;
        color: white;
        margin-top: 5%;
    }

    p{
        width: 50%;
        text-align: center;
        font-size: 18px;
        margin-top: 2%;
    }

    h3{
        margin-top: 5%;
        color: white;
        font-size: 25px;
    }
    .estrellas{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        fa-icon{
            font-size: 40px;
            color: white;
            margin-left: 2%;
            margin-right: 2%;
        }
    }
}



.footer{
    display: flex;
    flex-direction: column;
    background-color: #3D3D3D;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;

.primeraParte{
    width: 80%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
        
        ul{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            
       
            
            li{
                text-decoration: none;
                list-style: none;
                margin-left: .5%;
                margin-right: .5%;
                padding: 1%;
                cursor: pointer;

                a{
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: none;
                    color: gray;

                }


            }
        }
    
            

}


.segundaParte{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    p{
        text-align: center;
        font-size: 25px;
        color: white;
    }
  
}

.terceraParte{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img{
        width: 30%;
    } 
}

}    

