<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li class="selected"><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/contacto">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="descripcionSeguros">
    <div class="titulo5">
        <h3>Prearreglo Funerario </h3>
    </div>

    <div class="cuerpo">
        <p>
            Paga por los gastos del funeral. Una ventaja de este seguro es que fija los costos del funeral a precios Los
            seguros de gastos funerarios pueden ser costosos en comparación a otros tipos de seguros de vida. La
            cantidad que usted paga por las primas de seguro muchas veces sobrepasa lo que la póliza paga cuando usted
            fallece. </p>
        <br>
        <p>Además, muchas pólizas no pagarán la cantidad completa de los gastos funerarios si usted fallece antes de
            pagar una cantidad requerida. Una póliza de seguro de vida regular o un programa de ahorros podría ser una
            mejor opción para pagar los costos de un funeral.</p>
        <br>

        <img src="assets/img/funeral.jpg" alt="">
        <br>

        <h3>
            5 RAZONES POR LAS QUE LAS PERSONAS
            ADQUIEREN UN PRE-ARREGLO FUNERARIO </h3>


        <p>
            <b>1</b>

            POR EL MIEDO DE NO TENER DINERO AL MOMENTO
            DEL FALLECIMIENTO DE UN SER QUERIDO.

        </p>
        <br>


        <p>
            <b>2</b>

            POR LA EXPERIENCIA DE QUE HAN VISTO O TENIDO
            QUE PAGAR DE $12,000 A $25,000 DOLARES EN UN
            PERIODO DE 3 A 5 DIAS.

        </p>
        <br>

        <p>
            <b>3</b>

            POR QUE TIENEN LA GARANTIA QUE PUEDEN
            CONGELAR LOS COSTOS ACTUALES DE ESTOS
            ARREGLOS.

        </p>
        <br>

        <p>
            <b>4</b>

            POR QUE HAN COMPRENDIDO QUE PUEDEN PAGAR
            ESTOS ARREGLOS POCO A POCO MENSUALMENTE EN
            UN PLAZO DE 3 A 5 Años.


        </p>
        <br>

        <p>
            <b>5</b>

            POR QUE HAN ENTENDIDO LA IMPORTANCIA DE
            TENER TRANQUILIDAD Y PAZ MENTAL AL MOMENTO
            DEL FALLECIMIENTO DE UN SER QUERIDO

        </p>
        <br>





    </div>


</div>

<div class="footer">
    <div class="primeraParte">
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li class="selected"><a routerLink="/AboutUs">Sobre Nosotros</a></li>
            <li><a routerLink="/Seguros">Seguros</a></li>
            <li><a routerLink="/Cotizar">Cotizar</a></li>
            <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
            <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
        </ul>
    </div>
    <div class="segundaParte">
        <p>
           Todos los derechos reservados</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>