<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div class="divLogo">
            </div>

        </div>
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/AboutUs">Sobre Nosotros</a></li>
                    <li class="selected"><a routerLink="/Seguros">Seguros</a></li>
                    <li><a routerLink="/Cotizar">Cotizar</a></li>
                    <li><a routerLink="/Agentes">Encuentra un Agente</a></li>
                    <li><a routerLink="/WorkUs">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="seguros">
    <div class="vida">
        <div class="titulo">
            <h3>Vida</h3>
        </div>

        <div class="cuerpo">
            <h3>¿Necesito un seguro de vida?</h3>
            <p>El principal factor es evaluar si existen familiares o personas cercanas que dependan de ti
                financieramente. </p>

            <img src="assets/img/saludDibujo.jpg" alt="">
            <br>

            <h3>Para calcular la cantidad adecuada para tu seguro de vida se toman en cuenta factores como: </h3>

            <p>Deudas</p>
            <p>Cantidad de ingresos a reemplazar</p>
            <p>Cuentas por pagar</p>
            <p>Otros Gastos</p>
            <img src="assets/img/familiaDibujo2.jpg" alt="">
            <br>

            <h3>¿Cuanto cuesta un seguro de vida?</h3>
            <p>El costo varia según la situación que tengas. Yo me encargo de que pagues solo
                lo que necesitas y puedas estar tranquilo de que tus seres queridos estarán protegidos. </p>

            <div class="cuadros">
                <div class="cuadroIzquierda cuadro1">
                    <h4>Beneficios en vida</h4>
                    <p>En primer término, lo primero que debemos aclarar es lo siguiente: si su seguro de vida no cuenta
                        con beneficios en vida, sencillamente usted NO tiene un seguro de vida, sino un seguro de
                        muerte.</p>
                    <br>
                    <p>El objetivo del presente artículo es explicar la importancia de tener un seguro de vida con
                        beneficios en vida...</p>

                    <div class="divBoton">
                        <div routerLink="/Beneficios" class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>

                <div class="cuadroDerecha cuadro2">
                    <h4>Seguro de vida término</h4>
                    <p>Seguro de vida término
                        El seguro de vida a término ofrece protección por un período de tiempo determinado. A este
                        período se le llama un término. El término puede ser de un año, o de cinco a 30 años o más.
                        Usted elige la duración del término.</p>
                    <br>
                    <p>Las pólizas de seguro de vida a término pagan a sus beneficiarios una suma total, llamada
                        beneficio por causa de muerte (death benefit, por su nombre en inglés), si usted fallece durante
                        el término de la póliza. La póliza termina al final del término, a menos que usted pague para
                        extenderla..</p>

                    <div class="divBoton">
                        <div  routerLink="/SeguroVidaTermino" class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>

                <div class="cuadroIzquierda cuadro3">
                    <h4>Seguro de vida permanente</h4>
                    <p>El seguro de vida permanente le permite acumular ahorros con el tiempo.</p>
                    <br>
                    <p>Seguro de vida permanente
                        El seguro de vida permanente le permite acumular ahorros con el tiempo.

                        Usted puede retirar, invertir o usarlo para pedir un préstamo contra estos ahorros. También
                        puede usarlo para pagar primas de seguro.
                    </p>

                    <div class="divBoton">
                        <div  routerLink="/SeguroVidaPermanente"  class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>

                <div class="cuadroDerecha cuadro4">
                    <h4>Seguro de vida indexado</h4>
                    <p>El seguro de Vida universal indexado es un tipo de póliza en donde se brinda protección
                        permanente del seguro de vida. Con una acumulación de valor en efectivo y crecimiento, a través
                        de cuentas fijas e indexadas.</p>

                    <div class="divBoton">
                        <div routerLink="/SeguroVidaIndexado" class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>

                <div class="cuadroIzquierda cuadro5">
                    <h4>Preareglo funerario</h4>
                    <p>Paga por los gastos del funeral. Una ventaja de este seguro es que fija los costos del funeral a
                        precios Los seguros de gastos funerarios pueden ser costosos en comparación a otros tipos de
                        seguros de vida.

                    </p>
                    <br>
                    <p>La cantidad que usted paga por las primas de seguro muchas veces sobrepasa lo que la póliza paga
                        cuando usted fallece.
                    </p>

                    <div   class="divBoton">
                        <div routerLink="/Prearreglo" class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="salud">
        <div class="titulo">
            <h3>Salud</h3>
        </div>
        <div class="cuerpo">
            <h3>¿Necesito un seguro de salud?</h3>
            <p>El Seguro de Salud te ofrece la protección financiera en caso de que tengas un accidente o enfermedad.
            </p>

            <img src="assets/img/seguroVidaDibujo.jpg" alt="">

            <div class="seguro1">
                <h4>SEGURO DE VIDA</h4>
            </div>

            <div class="textos">
                <p>Cobertura que cubre los gastos médicos y quirúrgicos incurridos por el asegurado. </p>
                <br>

                <p>Un plan de seguro de salud puede reembolsar al asegurado por los gastos incurridos por enfermedad o
                    lesión, o pagar directamente al proveedor médico.</p>

                <div class="divBoton">
                    <div class="boton">
                        <p>Cotizar</p>
                    </div>
                </div>
            </div>

            <div class="seguro2">
                <h4>
                    SEGURO DE ACCIDENTES</h4>
            </div>

            <div class="textos">
                <p>Cobertura que lo protege financieramente en caso de una lesión sufrida por un accidente. Sí ocurre un
                    incidente, el seguro de accidentes generalmente lo cubrirá en forma de una suma global para
                    compensar la carga de las facturas médicas y otros gastos relacionados con su lesión.</p>
                <br>

                <p>El seguro de accidentes también puede complementar el seguro de salud si un accidente causa que tenga
                    gastos médicos que su plan de seguro de salud no cubre además de ayudar a llenar el vacío de los
                    deducibles de cobertura médica, copagos y gastos de bolsillo.</p>
                <div class="divBoton">
                    <div class="boton">
                        <p>Cotizar</p>
                    </div>
                </div>
            </div>

            <div class="seguro3">
                <h4>
                    SEGURO DE ENFERMEDADES</h4>
            </div>

            <div class="textos">
                <p>Plan de seguro complementario diseñado para proporcionar ayuda financiera si se le diagnostica una
                    enfermedad crítica que está cubierta en su póliza.</p>
                <br>

                <p>Al igual que otros planes complementarios, el seguro de enfermedad crítica puede ayudar a llenar los
                    vacíos en la cobertura de su seguro de salud en caso de una enfermedad crítica inesperada. </p>
                <div class="divBoton">
                    <div class="boton">
                        <p>Cotizar</p>
                    </div>
                </div>
            </div>
            <br>
            <h3>Polizas Complementarias</h3>
            <div class="cuadros">
                <div class="cuadroIzquierda cuadro1">
                    <h4>Ataques al corazón y derrame cerebral</h4>
                    <div class="divBoton">
                        <div class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>

                <div class="cuadroDerecha cuadro2">
                    <h4>Cancer </h4>
                   

                    <div class="divBoton">
                        <div class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>

                <div class="cuadroIzquierda cuadro3">
                    <h4>Accidentes Personales</h4>
                

                    <div class="divBoton">
                        <div class="boton">
                            <p>Ver Mas</p>
                        </div>
                    </div>
                </div>

            

            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="primeraParte">
        <div class="social">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            <p>3424 Midcourt Rd, Suite 122
                Carrollton, TX 75006</p>
        </div>
        <div class="social">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p>USA: (833) 968-5433</p>
        </div>
    </div>
    <div class="segundaParte">
        <p>
            ¡Siéntete seguro en todo momento!</p>
    </div>
    <div class="terceraParte">
        <div class="social">
            <img class="img-responsive" src="assets/img/Instagram2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Twitter2.png">
        </div>
        <div class="social">
            <img class="img-responsive" src="assets/img/Whatsapp.png">
        </div>
    </div>

</div>